extends template/main

block variables
    - var title = 'Новость'
    - var pageClass = 'article-page'

block content
    section.section.article
        .container 
            ul.breadcrumbs(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                +breadcrumbs-item('Главная','/')
                +breadcrumbs-item('Новости', '#')
                +breadcrumbs-item('Заседание Профкома ППО «Шахта Комсомолец Донбасса»')
            .section__title.section__title--size--large Заседание Профкома ППО «Шахта Комсомолец Донбасса»
            .cms-content 
                img(style="float: left; margin-right: 70px;" src="./static/images/content/leader-1.jpg")
                p Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст., который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который вписывается в контентные блоки. Совершенно естественно.
                div(style="clear: both;")
    include ./modules/section-gallery/section-gallery