extends template/main

block variables
    - var title = 'Контентная страница'
    - var pageClass = 'content-page'

block content
    section.section
        .bg-img.bg-img--content--right
        .bg-img.bg-img--content--left
        .container
            ul.breadcrumbs(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                +breadcrumbs-item('Главная','/')
                +breadcrumbs-item('Контентная страница')
            .section__title Контентная страница
            .cms-content
                h2.h2(style="font-size: 3.6rem; font-family: 'IBMPlexSerif-Bold'; text-transform: uppercase;") Заголовок 2
                p Типографика— сильнейший инструмент для выражения посыла в веб-дизайне. С его помощью вы можете объединить текстовую и визуальную составляющие, что поможет вам достучаться до посетителя.
                br
                br
                h3.h3(style="font-size: 3rem; font-family: 'IBMPlexSerif-Bold'; text-transform: uppercase;") Заголовок 3
                p Нумерованные списки представляют собой набор элементов с их порядковыми номерами. Пример:
                ol
                    li Первый пункт списка;
                    li Второй пункт списка;
                    li Третий пункт списка;
                    li Четвертый пункт списка;
                br
                br
                img(style="float: left; margin-right: 70px;" src="./static/images/content/leader-1.jpg")
                p Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст., который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который вписывается в контентные блоки. Совершенно естественно.
                div(style="clear: both;")
                br
                br
                h4.h4(style="font-size: 2.4rem; font-family: 'IBMPlexSerif-Bold'; text-transform: uppercase;") Заголовок 4
                p Нумерованные списки представляют собой набор элементов с их порядковыми номерами. Пример:
                ul
                    li Первый пункт списка;
                    li Второй пункт списка;
                    li Третий пункт списка;
                    li Четвертый пункт списка;
                br
                br
                p Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст., который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который вписывается в контентные блоки. Совершенно естественно.
                br
                br
                a(href="#") Пример ссылки без класса
                br
                br
                .cms-content__table
                    table
                        thead
                            tr
                                th Заголовок
                                th Пункт
                                th Пункт
                                th Пункт
                                th Пункт
                                th Пункт
                        tbody
                            tr
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                            tr
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                            tr
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                br
                br
                .cms-content__table
                    table
                        thead
                            tr
                                th Заголовок
                                th Пункт
                        tbody
                            tr
                                td 
                                    img(src="./static/images/content/partner-1.png")
                                td Официальный сайт Главы ДНР Д.В. Пушилина
                            tr
                                td
                                    img(src="./static/images/content/partner-2.png")
                                td 
                                    p Государственная инспекция по вопросам соблюдения законодательства о труде Донецкой Народной Республик
                                    p #[b Адрес:] 283004, г. Донецк, ул. Маршака, д. 2
                                    p #[b Тел.:] +38 (071) 312-17-86 #[br] +38 (062) 300-23-62 #[br] +38 (093) 915-85-83
                                    p #[b E-mail:] git@gostrud-dnr.ru
                            tr
                                td
                                    img(src="./static/images/content/partner-3.png")
                                td 
                                    p Государственный Комитет Гортехнадзора ДНР
                                    p #[b Адрес:] 83023, г.Донецк, пр.Павших Коммунаров, 102б
                                    p #[b Тел.:] +38 (050) 422-55-46
                                    p #[b E-mail:] gkgtn@yandex.ru
                            tr
                                td
                                    img(src="./static/images/content/partner-4.png")
                                td
                                    p Официальный сайт Донецкой Народной Республики
            include ./modules/download-doc/download-doc