extends template/main

block variables
    - var title = 'Новости'
    - var pageClass = 'news-page'

block content
    section.section.news
        .container 
            ul.breadcrumbs(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                +breadcrumbs-item('Главная','/')
                +breadcrumbs-item('Новости')
            .section__title.section__title--size--large Новости
            ul.grid
                -
                    const news = [
                        {
                            image: 'news-1',
                            title: 'Заседание Профкома ППО «Шахта Комсомолец Донбасса»',
                            date: '<span>05</span> октября 2020',
                            descr: 'Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры...'
                        },
                        {
                            image: 'news-2',
                            title: 'Заседание Президиума Профессионального союза работников Пенсионного фонда ДНР',
                            date: '<span>24</span> декабря 2020',
                            descr: 'Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры...'
                        },
                        {
                            image: 'news-3',
                            title: 'Заседание профсоюзного комитета ППО Филиала № 14 «Докучаевский флюсо-доломитный комбинат»',
                            date: '<span>14</span> ноября 2020',
                            descr: 'Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры...'
                        },
                        {
                            image: 'news-1',
                            title: 'Заседание профсоюзного комитета ППО Филиала № 14 «Докучаевский флюсо-доломитный комбинат»',
                            date: '<span>14</span> ноября 2020',
                            descr: 'Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры...'
                        },
                        {
                            image: 'news-2',
                            title: 'Заседание Профкома ППО «Шахта Комсомолец Донбасса»',
                            date: '<span>24</span> декабря 2020',
                            descr: 'Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры...'
                        },
                        {
                            image: 'news-3',
                            title: 'Заседание Президиума Профессионального союза работников Пенсионного фонда ДНР',
                            date: '<span>05</span> октября 2020',
                            descr: 'Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры...'
                        },
                        {
                            image: 'news-1',
                            title: 'Заседание профсоюзного комитета ППО Филиала № 14 «Докучаевский флюсо-доломитный комбинат»',
                            date: '<span>14</span> ноября 2020',
                            descr: 'Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры...'
                        },
                        {
                            image: 'news-2',
                            title: 'Заседание Профкома ППО «Шахта Комсомолец Донбасса»',
                            date: '<span>24</span> декабря 2020',
                            descr: 'Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры...'
                        },
                        {
                            image: 'news-3',
                            title: 'Заседание Президиума Профессионального союза работников Пенсионного фонда ДНР',
                            date: '<span>05</span> октября 2020',
                            descr: 'Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры...'
                        },
                    ]
                each obj in news
                    li.grid__item 
                        article.card
                            a(href="./article.html").card__link
                                .card__heading
                                    .card__overlay.is-visible
                                    +picture('./static/images/content', obj.image, ['webp', 'jpg'])(class="card__image")
                                    .card__date!= obj.date
                            .card__title= obj.title
                            .news__descr
                            a(href="./article.html").card__more Подробнее
                                +icon('arrow-next', 'card__icon')
            include ./modules/pagination/pagination